<!DOCTYPE html>
<!-- Application -->
<html lang="en" data-ng-app="app">
<head>
    <!-- Meta Information -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- HTML5 Base -->
    <base href="/">
    <!-- Application Title -->
    <title data-ng-bind="'APP_TITLE' | translate"></title>
    <!-- Favicon --->
    <link rel="icon" href="favicon.ico">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="app.min.css">
    <!-- Scripts -->
    <script type="text/javascript" src="app.min.js"></script>
</head>
<!-- Body -->
<body data-ng-cloak data-ng-controller="indexController">
<!-- Loading Indicator -->
<div data-loading-indicator></div>
<!-- Title Toolbar -->
<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
        <!-- Title -->
        <h2 flex md-truncate data-ng-bind="'APP_TITLE' | translate"></h2>
        <!-- Language Select -->
        <md-input-container class="md-block">
            <md-select name="language" data-ng-model="language" data-ng-change="changeLanguage(language)"
                       aria-label="Change Language">
                <md-option data-ng-repeat="language in languages" value="{{language}}"
                           data-ng-bind="'LANGUAGE_' + language | translate"></md-option>
            </md-select>
        </md-input-container>
    </div>
</md-toolbar>
<!-- Content -->
<md-content md-no-momentum md-no-flicker>
    <!-- Navigation Bar -->
    <md-nav-bar md-selected-nav-item="currentNavItem" aria-label="Navigation Bar">
        <md-nav-item md-truncate md-nav-href="add" name="add" value="add">
            {{'ADD_ENTRY' | translate}}
        </md-nav-item>
        <md-nav-item md-truncate md-nav-href="list" name="list" value="list">
            {{'LIST_ENTRIES' | translate}}
        </md-nav-item>
        <md-nav-item md-truncate md-nav-href="stat" name="stat" value="stat">
            {{'STATISTICS' | translate}}
        </md-nav-item>
    </md-nav-bar>
    <!-- Content View -->
    <div data-ng-view></div>
</md-content>
</body>
</html>