<!-- Filter Settings Toolbar -->
<div flex>
    <md-toolbar layout="row" class="md-hue-3">
        <div class="md-toolbar-tools" layout="row">
            <span flex md-truncate class="md-headline" data-ng-bind="'FILTER_SETTINGS' | translate"></span>
            <md-button class="md-icon-button" data-ng-click="showFilterSettings = !showFilterSettings">
                <i class="material-icons">{{showFilterSettings ? 'expand_less' : 'expand_more'}}</i>
            </md-button>
        </div>
    </md-toolbar>
</div>
<!-- Filter Settings -->
<md-content layout-padding data-ng-show="showFilterSettings" data-ng-hide="!showFilterSettings">
    <div data-layout-gt-xs="row">
        <!-- Date Selection -->
        <md-input-container>
            <label data-ng-bind="'BOOKING_DATE' | translate"></label>
            <md-datepicker name="bookingDate" data-ng-model="bookingDate" data-ng-change="selectedBookingDateChanged()"
                           md-open-on-focus required></md-datepicker>
        </md-input-container>
        <!-- Table Filter -->
        <md-input-container flex>
            <label data-ng-bind="'SEARCH' | translate"></label>
            <input type="text" data-ng-model="filterValue" data-ng-change="applyFilter()">
        </md-input-container>
    </div>
</md-content>
<!-- List Toolbar -->
<div flex>
    <md-toolbar layout="row" class="md-hue-3">
        <div class="md-toolbar-tools" layout="row">
            <span md-truncate class="md-headline">{{tableTitle}}</span>
        </div>
    </md-toolbar>
</div>
<!-- Table (gt-xs) -->
<mdt-table hide-xs show-gt-xs
           selectable-rows="false"
           animate-sort-icon="false"
           ripple-effect="true"
           paginated-rows="{isEnabled: true, rowsPerPageValues: [25,50,100]}"
           alternate-headers="'contextual'"
           mdt-translations="{rowsPerPage: rowsPerPageTranslation}"
           mdt-row="{data: filteredItems, 'table-row-id-key': 'id', 'column-keys': ['doc.bookingDate', 'doc.user', 'doc.title', 'doc.amount', 'doc.recordType', 'action']}">
    <!-- Table Headers -->
    <mdt-header-row>
        <mdt-column column-sort="false" align-rule="left">{{'BOOKING_DATE' | translate}}</mdt-column>
        <mdt-column column-sort="false" align-rule="left">{{'USER' | translate}}</mdt-column>
        <mdt-column column-sort="false" align-rule="left">{{'TITLE' | translate}}</mdt-column>
        <mdt-column column-sort="false" align-rule="right">{{'AMOUNT' | translate}}</mdt-column>
        <mdt-column column-sort="false" align-rule="left">{{'BOOKING_TYPE' | translate}}</mdt-column>
        <mdt-column column-sort="false" align-rule="left">{{'ACTION_COLUMN' | translate}}</mdt-column>
    </mdt-header-row>
    <!-- Custom Table Cell: Booking Date -->
    <mdt-custom-cell column-key="doc.bookingDate">
        <span data-ng-bind="value | date : 'dd.MM.yyyy'"></span>
    </mdt-custom-cell>
    <!-- Custom Table Cell: Title -->
    <mdt-custom-cell column-key="doc.title">
        <span data-ng-bind="value"></span>
        <br>
        <span class="md-caption" data-ng-bind="clientScope.getRecordDescription(rowId)"></span>
    </mdt-custom-cell>
    <!-- Custom Table Cell: Amount -->
    <mdt-custom-cell column-key="doc.amount">
        <span data-ng-bind="value | currency : '€ ' : 2" data-ng-class="clientScope.evaluateAmountClass(rowId)"></span>
    </mdt-custom-cell>
    <!-- Custom Table Cell: Record Type -->
    <mdt-custom-cell column-key="doc.recordType">
        <span data-ng-bind="'BOOKING_TYPE_' + value | translate"></span>
    </mdt-custom-cell>
    <!-- Custom Table Cell: Actions -->
    <mdt-custom-cell column-key="action">
        <!-- Edit Button -->
        <mdt-custom-cell-button class="md-icon-button pointer" data-ng-click="clientScope.editRecord(rowId)"
                                aria-label="Edit">
            <i class="material-icons">edit</i>
        </mdt-custom-cell-button>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <!-- Delete Button -->
        <mdt-custom-cell-button class="md-icon-button pointer" data-ng-click="clientScope.deleteRecord(rowId)"
                                aria-label="Delete">
            <i class="material-icons">delete</i>
        </mdt-custom-cell-button>
    </mdt-custom-cell>
</mdt-table>
<!-- List (xs) -->
<div flex show-xs hide-gt-xs>
    <md-content show-xs hide-gt-xs>
        <md-list flex>
            <md-list-item data-ng-repeat-start="record in filteredItems" md-swipe-left="onSwipe(record)"
                          md-swipe-right="onSwipe(record)">
                <div layout="column" layout-align=" stretch" flex>
                    <!-- Interactive Button Panel -->
                    <div ng-show="record.isSwiped" ng-hide="!record.isSwiped">
                        <div layout="row" layout-align="center center" flex>
                            <!-- Edit Button -->
                            <md-button class="md-icon-button" aria-label="Edit" data-ng-click="editRecord(record.id)">
                                <i class="material-icons">edit</i>
                            </md-button>
                            <!-- Cancel Button -->
                            <md-button class="md-button" aria-label="Cancel" data-ng-bind="'CANCEL_BUTTON' | translate"
                                       data-ng-click="record.isSwiped = false"></md-button>
                            <!-- Delete Button -->
                            <md-button class="md-icon-button" aria-label="Delete"
                                       data-ng-click="deleteRecord(record.id)">
                                <i class="material-icons">delete</i>
                            </md-button>
                        </div>
                    </div>
                    <!-- List Content Panel -->
                    <div ng-show="!record.isSwiped" ng-hide="record.isSwiped">
                        <!-- 1. Row: Booking Date and User -->
                        <div layout="row" layout-align="start center" flex>
                            <span flex data-ng-bind="record.doc.bookingDate | date : 'dd.MM.yyyy'"></span>
                            <span data-ng-bind="record.doc.user"></span>
                        </div>
                        <!-- 2. Row: Title -->
                        <span md-truncate data-ng-bind="record.doc.title"></span>
                        <!-- 3. Row: Description -->
                        <span md-truncate class="md-caption" data-ng-bind="record.doc.description"></span>
                        <!-- 4. Row: Booking Type and Amount -->
                        <div layout="row" layout-align="start center" flex>
                        <span md-truncate flex
                              data-ng-bind="'BOOKING_TYPE_' + record.doc.recordType | translate"></span>
                            <span data-ng-bind="record.doc.amount | currency : '€ ' : 2"
                                  data-ng-class="evaluateAmountClass(record.id)"></span>
                        </div>
                    </div>
                </div>
            </md-list-item>
            <md-divider data-ng-repeat-end></md-divider>
        </md-list>
    </md-content>
</div>